@import "colors";
$list_colors: $red $blue $green $yellow $orange $ligth $dark;
$list_name: "red" "blue" "green" "yellow" "orange" "ligth" "dark";


@each $color in $list_colors{
 $i: index($list_colors, $color);
 .btn-#{nth($list_name,$i)} {
  @if(nth($list_name,$i)=="ligth"){
   color: black;
  }@else {
   color:white;
   font-weight: bolder;
   padding: 0 2% 0 2%;
  }
  background-color: darken($color,20%);
  border: solid 0.2em darken($color,35%);
  border-radius: 5px;
  &:hover {
   color: darken($color,20%) !important;
   @if(nth($list_name,$i)=="ligth"){
    background-color: black !important;
   }@else {
    background-color:white !important;
    border: solid 0.2em darken($color,35%);
   }
  }
 }
}