@import "partials/colors";
@import "partials/button";

$primary: $red;
$primary_name: "red";
* {
  color: darken($primary, 25%);
}

header {
  background-color: white !important;
  border-bottom: inset 0.2em darken($primary, 25%) !important;
}

.LogoLiceu {
  height: 60%;
  width: 60%;
}

#menuTitle {
  border-bottom: inset 0.2em darken($primary, 25%) !important;
}

//CSS LOGIN
.mdl-textfield__input {
  border-bottom: solid 1px darken($primary, 25%);
}

main {
  background-color: darken($primary, 20%);
}

#form {
  position: absolute;
  top: 20%;
  left: 20%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  padding: 5%;
  border: inset 0.1em darken($primary, 35%) !important;
}

.ui-dialog {
  text-align: center;
  background-color: white;
  border: inset 0.2em darken($primary, 35%) !important;
  border-radius: 5px;
  opacity: 90;
  z-index: 1040;
}

.ui-button {
  background-color: darken($primary, 35%) !important;
  padding: 2% 15% 2% 15%;
  border-radius: 5px;
  margin: 5%;
  > .ui-button-text {
    color: white !important;
  }
}

.ui-dialog-titlebar {
  padding: 2%;
  background-color: darken($primary, 20%);
  font-weight: bolder;
  span {
    color: white !important;
  }
}

.ui-dialog-titlebar-close {
  display: none;
}

#contentDialog {
  padding: 2%;
}

//CSS DASHBOARD
#tableContent {
  margin: 0 auto;
  padding: 2%;
  width: 90%;
  background-color: white;
}

.buttons-html5 {
  text-decoration: none !important;
  background-color: darken($primary, 20%) !important;
  border: 0.2em solid darken($primary, 35%) !important;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  &:hover {
    color: darken($primary, 20%) !important;
    background-color: white !important;
  }
}

thead {
  background-color: darken($primary, 20%) !important;
  font-weight: bolder;
  color: white !important;
  width: 100%;
  .DataTables_sort_wrapper {
    color: white !important;
  }
  td {
    color: white !important;
  }
}

tbody {
  width: 100%;
}

.mdl-data-table {
  th, td {
    padding: 0;
    text-align: center !important;
  }
  td {
    overflow: auto;
    text-overflow: ellipsis;

  }
}

table.dataTable {
  thead {
    .sorting, .sorting_asc, .sorting_desc, .sorting_both {
      &:after, &::after {
        content: "" !important;
      }
    }
  }
}

#searchTeachers {
  table-layout: fixed;
  display: inline-table;
  width: 100% !important;
  background-color: white;
  thead {
    tr {
      th {
        color: white !important;
        border: solid 0.1em white;
      }
    }
  }
}

.dt-button {
  > a {
    text-decoration: none;
    background-color: darken($primary, 20%) !important;
    border: 0.2em solid darken($primary, 35%);
  }
  > span {
    color: white;
    font-weight: bolder;
  }
  &:hover {
    > span {
      color: darken($primary, 20%) !important;
      background-color: white !important;
    }
  }
}

.ui-button, .ui-state-default, .ui-datepicker-header {
  background-color: white !important;
  color: white !important;
  > a {
    background-color: white !important;
    color: darken($primary, 25%) !important;
  }
}

.ui-widget-header {
  text-align: center;
  background: darken($primary, 20%) !important;
  border: 0.2em solid darken($primary, 35%) !important;
  color: white !important;
}

.ui-state-hover {
  border-color: darken($primary, 25%) !important;
  background-color: lighten($primary, 35%) !important;
}

.ui-dialog .ui-dialog-title {
  float: none;

}

.ui-dialog-content {
  background-color: white !important;

}

.ui-datepicker-month, .ui-datepicker-year {
  width: 100%;
  -moz-appearance: none;
  padding: 1%;
  background-color: darken($primary, 20%) !important;
  color: white;
  font-weight: bolder !important;
  border: 0.2em solid darken($primary, 35%) !important;
  border-radius: 5px !important;
  &:hover {
    background-color: white !important;
    color: darken($primary, 20%) !important;
  }
  > option {
    background-color: white;
    color: darken($primary, 25%);
    ::selection {
      color: white;
    }
  }
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url("../../images/ui-icons_222222_256x240.png") !important;
}

#languageSelect {
  width: 100%;
  -moz-appearance: none;
}

//CSS AUDITS
#initAudit {
  width: 100%;
  display: inline;
  margin-right: 0 !important;
  text-align: center;
  button.ui-button-text-only {
    background: darken($primary, 25%) !important;
    &:hover {
      border: 0.1em inset darken($primary, 25%) !important;
      background: white !important;
      span {
        color: darken($primary, 25%) !important;
      }
    }
  }
}

.ui-datepicker-calendar {
  width: 30%;
  margin: 1%;
  span {
    color: white !important;
  }
  a.ui-state-default, .ui-icon-closethick, button.ui-state-default {
    background-color: white !important;
    color: darken($primary, 25%) !important;
    &:hover {
      background-color: darken($primary, 25%) !important;
      color: white !important;
    }
  }
}

.select2-container {
  margin-top: 2%;
  width: 80% !important;
}

#formContent {
  position: absolute;
  top: 10%;
  left: 20%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  padding: 5%;
  border: inset 0.1em darken($primary, 35%) !important;
}

.header-btn {
  display: inline-table;
  width: 120%;
  margin-left: 0 !important;
  > div {
    padding: 1%;
    margin: 0.5%;
    float: left;
  }
}

caption {
  display: inline !important;
}
